<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title boxbox16
        link(rel="stylesheet", href="/css/styles.css")
    body
        .add
            .add__col1
            .add__col2
                .add__col2__sec1
                    .add__col2__sec1__box1
                    .add__col2__sec1__box2
                .add__col2__sec2